<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/draftedapps.css">
    <title>Glinthub | Drafted Apps</title>
</head>
<body>
        <div id="draft-title">
            <h1>Drafted Apps</h1>
        </div>
        <hr id="draft-line"/>
        <div id="draft-container" class="container">
            <section class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="draft-tile" id="tile-1">
                        <div class="img-box">
                            <img class="icon" src="../images/Rectangle 32.png">
                            <img class="edit" src="../images/Group 4.png">
                        </div>
                        <div class="text-box">
                            <span>Orbus</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="draft-tile" id="tile-2">
                        <div class="img-box">
                            <img class="icon" src="../images/Rectangle 34.png">
                            <img class="edit" src="../images/Group 4.png">
                        </div>
                        <div class="text-box">
                            <span>Left n Right</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="draft-tile" id="tile-3">
                        <div class="img-box">
                            <img src="../images/Rectangle 37.png">
                            <img class="edit" src="../images/Group 4.png">
                        </div>
                        <div class="text-box">
                            <span>Covid19</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="draft-tile" id="tile-4">
                        <div class="img-box">
                            <img src="../images/Rectangle 38.png">
                            <img class="edit" src="../images/Group 4.png">
                        </div>
                        <div class="text-box">
                            <span>Hang on</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="draft-tile" id="tile-5">
                        <div class="img-box">
                            <img class="icon" src="../images/Rectangle 40.png">
                            <img class="edit" src="../images/Group 4.png">
                        </div>
                        <div class="text-box">
                            <span>Codera</span>
                        </div>
                    </div>
                </div>
            </section>
       </div>
</body>
</html>